$color-ligthbluesky:#09b0ff;
$color-ligthblue: #4abaff;
$color-softblue: #e4f8ff;

@mixin buttonStyles($width, $height:20px, $bgColor:$color-ligthbluesky) {
    background: $bgColor;
    border: none;
    color: #fff;
    width: $width;
    height: $height;
    border-radius: 5px;
    &:hover {
        background-color: $color-ligthblue;
    }
    &:focus {
        outline: none;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    .control-panel {
        display: flex;
        justify-content: center;
        input {
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $color-ligthbluesky;
            margin-right: 10px;
            &:focus {
                outline-color: $color-ligthblue;
            }
        }
        button {
            @include buttonStyles(60px, 40px);
        }
    }
    // end .control-panel
    .message-error{
        background-color: #dc354657;
        width: 300px;
        margin: 10px auto;
        padding: 10px;
        text-align: center;
        border-radius: 15px;
    }
    .weather-info-block {
        margin: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        .weather-table{
            align-self: start;
            table {
                min-width: 200px;
                width: 100%;
                border-collapse: collapse;
                td,
                th {
                    padding: 10px 10px;
                    border: 1px solid #fff;
                    letter-spacing: 0.1rem;
                }
                th {
                    background-color: $color-softblue;
                    p{
                        // -webkit-transform: rotate(-90deg); 
                        // -moz-transform: rotate(-90deg);
                        // -ms-transform: rotate(-90deg);
                        // -o-transform: rotate(-90deg);
                        // transform: rotate(-90deg);
                        writing-mode: vertical-lr;
                        margin: 0 auto;
                    }
                }
                td{
                    text-align: center;
                }
                tbody {
                    tr {
                        &:nth-child(even) {
                            background-color: $color-softblue;
                        }
                        &:first-child{
                            background-color: lightsteelblue;
                        }
                        &:last-child{
                            border-bottom: 3px solid $color-softblue;
                        }
                        td{
                            button{
                                @include buttonStyles(20px, 20px, #DC3545);
                            }
                            &:nth-child(1), &:nth-child(2){
                                min-width: 170px;
                            }
                        }
                    }
                }
            }
            // end table
            hr{
                margin: 40px 0;
                border-color: $color-ligthblue;
            }
            .button-group{
                margin: auto;
                display: flex;
                justify-content: center;

                button{
                    @include buttonStyles(200px, 50px);
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
        }
        //end .weather-table
    }
    // end .weather-info
}
// end .container